*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.header{
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sitenav-list{
    display: flex;
}

.nav-item:not(:last-child){
    margin-right: 32px;
}

.nav-link{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #222222;
    line-height: 22px;
}

.hero{
    padding-top: 29px;
}

.hero-text{
    width: 550px;
    color: #fff;
}

.hero-title{
    margin-bottom: 16px;
    font-size: 36px;
}

.hero-description{
    margin-bottom: 32px;
    font-size: 18px;
}

.services{
    padding-top: 120px;
    padding-bottom: 120px;
    align-items: center;
}

.services-title{
    color: #000000;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 56px;
}

.services-list{
    width: 864px;
    left: 288px;
}

.services-item{
    display: flex;
    align-items: center;
    width: 864px;
    height: 200px;
}

.services-item:not(:last-child){
    margin-bottom: 80px;
}

.services-item:last-child{
    margin-bottom: 60px;
}

.services-image{
    margin-right: 64px;
}

.services-content-title{
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 700;
}

.services-content-text{
    font-size: 16px;
    color: #444444;
}

.services-link-wrap{
    text-align: center;
}

.contact-container{
    padding-top: 64px;
    padding-bottom: 64px;
}

.contact-title{
    color: #fff;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
}

.contact-link-wrapper{
    display: flex;
    justify-content: center;
}

.contact-link:first-child{
    margin-right: 40px;
}

.contact-link{
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 24px;
    border-radius: 8px;
}

.footer-logo{
    width: 185px;
    height: 49.94px;
}

.footer-container{
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.nav-list{
    display: flex;
    margin-top: 14.47px;
}

.nav-link-footer{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    line-height: 22px;
}


.hero, .contact{
    background-color: #0EB4C1;
}

.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer{
    background-color: #222222;
}

.nav-button, .services-link, .hero-link{
    background-color: #DE2E54;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
}